html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: bolder;
    color: rgb(175, 205, 232);
    
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
	position:fixed;
  	top:0px;
  	right:0px;
  	bottom:0px;
  	left:0px;
	/* display:flex; */
	flex-direction: column;
}

.top{
    flex:.5;
    background-color: bisque;
}
.middle{
    flex: 5;
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex: 2;
    background-color: blueviolet;
}

.content{
    flex: 5;
    
    background-color: brown;
}