html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bolder;
    color: rgb(15, 1, 28);
    
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
	position:fixed;
  	top:0px;
  	right:0px;
  	bottom:0px;
  	left:0px;
	/* display:flex; */
	flex-direction: column;
}

.top{
    flex:.5;
    background-color: rgb(78, 202, 244);
}
.middle{
    flex: 5;
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex: 2;
    background-color: rgb(78, 127, 232);
}

.content{
    flex: 5;
    
    background-color: rgb(78, 83, 232);
}

.detail{
    flex: 5;
    
    background-color: rgb(78, 33, 232);
}

button{
	background-color: rgb(78, 7, 162); 
	border: none;
	border-radius: 10px;
	color: white;
	margin: 4px;
	padding: 8px 18px;
    font-family: 'Courier New', Courier, monospace;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
    /* height: 3ch; */
    /* white-space: nowrap; */
    /* white-space: pre; */
  }

  button:hover{
    color: #4b13bb;
    border: #4b13bb solid 1px;
    background:#fff;
    transition:.5s;
    
  }

  #todo:hover{
    transition:.5s;
    padding: 10px 48px; 
  }

  .project:hover{
    transition:.5s;
    padding: 10px 48px; 
  }

  button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
    transition:.5s;
}

.form{
	display: flex;
    flex-direction: column;
	position: absolute;
    justify-content: center;
	align-self: center;
    align-items: center;
	justify-self: center;
    justify-items: center;
	text-align: center;
    /* width: fit-content;
   height: fit-content; */
   width: 200px;
   height: 300px;
   top: 25%;
   left: 25%;
    /* height: 100px; */
	background-color: #a2aaed;
    color: rgb(3, 60, 32);
    text-align: center;
	margin:100px 100px;
	border: 100px;
	border-radius: 25px;
	padding: 100px;
	opacity: .9;
    inset: unset;
	font-family: 'Roboto', sans-serif;
 	/* cursor: pointer; */
  	transition: 0.25s all ease-in-out;
      /* top: 0;
      right: 0;
      bottom: 0;
      left: 0; */

}

/* .labels{

} */

/* .fields{
    align-self: center;
    justify-self: center;
	margin: 2px;
	border: 2px;
	border-radius: 25px;
    word-wrap: break-word;
    word-break: break-all;
    color: rgb(10, 9, 9);
    text-align: center;
    
} */

label,
textarea {
  /* font-size: 0.8rem; */
  letter-spacing: 1px;
}

textarea {
  display: grid;
  padding: 10px;
  max-width: 100%;
  resize: none;
  height: 50px;
  overflow-wrap:normal;
  grid-area: 1 / 1 / 2 / 2;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

cancel{
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: rgb(78, 7, 162); 
	border: none;
	border-radius: 20px;
	color: white;
	margin: 4px;
	padding: 8px 18px;
    font-family: 'Courier New', Courier, monospace;
	/* text-align: center; */
	text-decoration: none;
	display: block;
	font-size: 20px;

}